! xFT
xFT.DPI: 96
xFT.ANTIALIAS: TRUE
xFT.RGBA: RGB
xFT.HINTING: TRUE
xFT.HINTSTYLE: AUTOHINT
xFT.LCDFILTER: LCDDEFAULT
! urXVT
urXVT.SCROLLbAR: FALSE
urXVT.LOGINsHELL: TRUE
urXVT.FONT: XFT:mONACO FOR pOWERLINE:SIZE=11
urXVT.LETTERsPACE: -1
urXVT.TERMnAME: RXVT-256COLOR
urXVT.UNDERLINEurlS: TRUE
urXVT.URLlAUNCHER: CHROMIUM
urXVT.PERL-EXT-COMMON:  DEFAULT,MATCHER,FONT-SIZE
urXVT.MATCHER.BUTTON:   1 
!urXVT.PERL-LIB: /HOME/USERNAME/.URXVT/
urXVT.PERL-EXT: SELECTION,MARK-YANK-URLS,FONT-SIZE
urXVT.KEYSYM.c-EQUAL: PERL:FONT:INCREASE
urXVT.KEYSYM.c-MINUS: PERL:FONT:DECREASE
urXVT.PERL-EXT-COMMON:      DEFAULT,CLIPBOARD,URL-SELECT,KEYBOARD-SELECT
urXVT.URL-SELECT.LAUNCHER:  CHROMIUM
urXVT.URL-SELECT.UNDERLINE: TRUE
urXVT.KEYSYM.m-U:           PERL:URL-SELECT:SELECT_NEXT
urXVT.KEYSYM.m-eSCAPE:      PERL:KEYBOARD-SELECT:ACTIVATE
urXVT.KEYSYM.m-S:           PERL:KEYBOARD-SELECT:SEARCH

urXVT.KEYSYM.m-C:   PERL:CLIPBOARD:COPY
urXVT.KEYSYM.m-V:   PERL:CLIPBOARD:PASTE
urXVT.KEYSYM.m-c-V: PERL:CLIPBOARD:PASTE_ESCAPED

urXVT.KEYSYM.c-uP:     PERL:FONT-SIZE:INCREASE
urXVT.KEYSYM.c-dOWN:   PERL:FONT-SIZE:DECREASE
urXVT.KEYSYM.c-s-uP:   PERL:FONT-SIZE:INCGLOBAL
urXVT.KEYSYM.c-s-dOWN: PERL:FONT-SIZE:DECGLOBAL

urXVT.CLIPBOARD.COPYCMD:  XSEL -IB
urXVT.CLIPBO ARD.PASTECMD: XSEL -OB

#INCLUDE ".xRESOURCES.COLORS"
